body {
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  color: black;
  background-color: green;
  font-size: 22px;
  text-align: center;
}

a {
  color: black;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
}

.navbar p {
  display: inline-block;
  padding: 10px 10px;
}

.main {
  padding-top: 35px;
  opacity: 0.9;
}

.coach {
  display: flex;
  height: 300px;
  background-image: url("https://scontent.fsyd11-1.fna.fbcdn.net/v/t39.30808-6/396527044_907536387402118_5307615592221152810_n.jpg?stp=dst-jpg_p320x320&_nc_cat=109&ccb=1-7&_nc_sid=783fdb&_nc_ohc=8WYvYUMOPEgAX_uF9YB&_nc_ht=scontent.fsyd11-1.fna&oh=00_AfAV7b5lPgTKpZ5kSKttJEKXOXVgvcSQMHTwgn1_piWqig&oe=65781B80");
  padding-top: 35px;
}

.coach .content {
  margin: auto;
  background-color: white;
  width: 100%;
}

#team {
  min-height: 500px;
  margin: auto;
  padding-top: 70px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px;
  height: auto;
}

.player span {
  padding: 5px;
  min-width: 240px;
  font-weight: bold;
  text-align: center;
}

.stadium {
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg");
  padding-top: 70px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.amenities {
  padding: 10px;
  color: white;
  flex-basis: 280px;
}

.amenities img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
}

.contact,
.copyright {
  padding-top: 20px;
}
